* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.toolbar {
    display: flex;
    color: black;
}
.toolbar-items {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}
.toolbar-list {
    display: flex;
    list-style-type: none;
}
.toolbar-item {
    display: flex;
}
.toolbar-link {
    color: black;
    text-decoration: none;
    align-items: center;
    padding: 10px 10px;
    display: flex;
    font-weight: bolder;
    font-size: 13px;
    border-radius: 50%;
}
.app {
    color: coral;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
}
.hero {
    background-color: #F592B8;
    margin-top: 10px;
}
.text-1 {
    padding-top: 24px;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    color: #222222;
}
.text-2 {
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
}
.hero-layout {
    display: grid;
    grid-template-columns: repeat(3, 33.3333%);
    grid-template-rows: repeat(2, 40%);
    row-gap: 30px;
    margin-top: 10px;
}
.box {
    text-align: center;
}
.gifts {
    border-radius: 50%;
    width: 86%;
    height: auto;
    margin-bottom: 5px;
}
.section {
    text-align: left;
    margin-top: 30px;
    font-size: 14px;
    margin-left: 10px;
}
.section-layout {
    margin-left: 5px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.section-link {
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    color: black;
    margin-left: 5px;
}
.product-card-img {
    width: 90%;
}
.product-card-img:hover {
    box-shadow: 8px 6px 28px 4px lightgray;
}
.price {
    color: black;
    font-weight: bold;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 30px;
}
.main-title {
    text-align: center;
}
.main-text {
    text-align: center;
}
.main-category {
    margin-left: 5px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}
.category {
    border: 1px solid lightgrey;
    border-radius: 10px;
}
.category-img {
    padding-bottom: 10px;
    width: 100%;
}
.cat-text {
    font-weight: bold;
    padding-left: 5px;
    padding-bottom: 10px;
    font-size: 18px;
}
.category:hover {
    box-shadow: 8px 6px 28px 4px lightgray;
}
.article {
    margin-top: 30px;
    background-color: #FDEBD2;
    text-align: center;
}
.title {
    padding-top: 20px;
    font-weight: lighter;
}
.text-link {
    color: black;
}
.title2 {
    font-weight: lighter;
    font-size: 25px;
}
.title3 {
    font-size: 20px;
}
.article-input {
    border-radius: 50px;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    background-color: #FDEBD2;
    margin-bottom: 50px;
}
.article-input:hover {
    box-shadow: 1px 1px 1px 2px black;
}
.contact {
    margin-top: 30px;
    background-color: #D7E6F5;
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
}
.contact-input {
    padding: 10px;
    border-radius: 50px;
    font-size: 16px;
    border-color: white;
    margin-bottom: 20px;
}
.contact-input:hover {
    box-shadow: 1px 1px 1px 2px gray;
}
.footer {
    display: flex;
    justify-content: space-around;
    background-color: #2F466C;
    color: white;
}
.footer-list {
    padding-bottom: 10px;
}
.footer-title {
    margin-left: 10px;
    padding-top: 20px;
}
.footer-item {
    list-style: none;
}
.footer-link {
    display: block;
    color: white;
    text-decoration: none;
    margin-left: 10px;
    padding-top: 10px;
}
.information {
    background-color: navy;
    color: white;
    text-align: center;
}
.information-item {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 30px;
}
.information-link {
    color: white;
    padding-right: 10px;
}
.link {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
}
@media(min-width:480px) {
    .section-layout {
        margin-left: 5px;
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media(min-width:640px) {
    .main-category {
        margin-left: 5px;
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 10px;
        row-gap: 10px;
    }
}
@media(min-width:900px) {
    .hero-layout {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        margin-top: 10px;
    }

    .section-layout {
        margin-left: 5px;
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: none;
    }

    .main-category {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        margin-left: 5px;
        margin-top: 20px;
        column-gap: 10px;
        row-gap: 10px;
        grid-template-rows: none;
    }
}
